*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: #ccc;
    width: 250px;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    flex-direction: column;
}
#addbtn{
    background-color: yellow;
    border: none;
    outline: none;
    padding: 0.3rem 0.5rem;
    border-radius: 2px;
    cursor: pointer;
}
#buybtn{
    background-color: orange;
    border: none;
    outline: none;
    padding: 0.3rem 0.5rem;
    border-radius: 2px;
    cursor: pointer;
}