*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: #eee;
    width: 400px;
    padding: 1rem;
}
button{
    padding: 0.3rem 0.5rem;
    outline: none;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}
.container button:nth-child(1){
    background-color: green;
}
.container button:nth-child(2){
    background-color: rgb(0, 55, 128);
}
.container button:nth-child(3){
    background-color: rgb(30, 128, 0);
}
.container button:nth-child(4){
    background-color: rgb(30, 128, 0);
}
.container button:nth-child(5){
    background-color: rgb(245, 0, 0);
}