*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
    font-size: 62.5%;
}
.container{
    background-color: black;
    padding: 1rem;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

button{
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0.5rem;
    border-radius: 2px;
    font-weight: 550;
    font-size: 3.2rem;
}

.container button:nth-child(1){
    background-color: yellow;
}
.container button:nth-child(2){
    background-color: rgb(255, 0, 0);
}
.container button:nth-child(3){
    background-color: rgb(0, 255, 42);
}
h2,h3{
    color: #fff;
    font-size: 2rem;
}