*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    padding: 2rem;
}
p{
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

/* youtube section */
.youtube-wrapper{
    border: 1px solid #ddd;
    width: 250px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.youtube-wrapper>button{
    padding: 0.5rem 0.7rem;
    background-color: #ff0000d5;
    outline: none;
    border: none;
    font-size: 1.5rem;
    font-weight: 550;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.subscribed-active{
    background-color: #ffffff;
    color: #ff0000d5;
    border: 1px solid #ddd;
}
